/* Debbug item */

.dbg{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    border: 2px solid black;
}
/********************** Utility **********************/

.middle_line{
    display: inline-block;
    border-bottom: 2px solid;
    width: 100px;
    margin: 0;
}

/********************** Header **********************/
header{
    background-color: #2C3E50;
}
.voci_right a{
    font-size: 1rem;
}


/********************** Main **********************/

/*------ Introduction ------*/
.introduction{
    background-color: #1ABC9C;

}
.introduction img{
    height: 200px;
}


/*------ Portfolio ------*/
.portfolio{
    background-color: lightgray;
}
/*------ About ------*/

.about{
    background-color: #1ABC9C;
}
/*------ Contact me ------*/
.contact{
    background-color: lightgray;
}


/********************** Footer **********************/
/*------ Detail and Link ------*/
.detail{
    background-color: #3A546D;
}
/*------ Copyright ------*/
.copyright{
    background-color: #2C3E50;
}
