/* Debbug item */

.dbg{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    border: 2px solid black;
}
/********************** Utility **********************/

.middle_line{
    display: inline-block;
    border-bottom: 2px solid;
    width: 100px;
    margin: 0;
}

/********************** Header **********************/
header{
    background-color: #2C3E50;
}
.voci_right a{
    font-size: 1rem;
}

.menu_hamburger{
    display: none;
}


/********************** Main **********************/

/*------ Introduction ------*/
.introduction{
    background-color: #1ABC9C;

}
.introduction img{
    height: 200px;
}


/*------ Portfolio ------*/
.portfolio{
    background-color: lightgray;
}
.portfolio img{
    /* height: 200px; */
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
/*------ About ------*/

.about{
    background-color: #1ABC9C;
}

/*------ Contact me ------*/
.contact form ::placeholder{
    color: black;
}
.contact form input, 
.contact form textarea{
    border: none;
    border-radius: 0;
    padding-right: 0;
    border-bottom: 1px solid black;
}

.contact form button{
    background-color: #1ABC9C;
    color: white;
}


/********************** Footer **********************/
/*------ Detail and Link ------*/
.detail{
    background-color: #3A546D;
}

.detail i{
    border: 1px solid white;
    padding: 10px;
    border-radius: 100%;
    margin: 0 5px;
}
.detail .col-md-4 i:nth-of-type(1){
    padding: 10px 15px;
}
/*------ Copyright ------*/
.copyright{
    background-color: #2C3E50;
}



/********************** Media Query per tablet **********************/

@media screen and (max-width: 992px) {
    .contact .container>form{
        width: 75%;
         margin: 0 auto;
    }

    .detail .container .row .col-md-4:nth-of-type(2) i{
        margin: 0;
    }
}


/********************** Media query per smartphone**********************/

@media screen and (max-width: 768px){
     .detail .container .row .col-md-4{
         margin: 1rem 0;
     }

     header .container nav .voci_right{
         display: none;
     }
     header .container nav .menu_hamburger{
         display: block;
         color: white;
         border: 1px solid white;
         padding: 5px 10px;
         border-radius: 5px;
     }
}